.Languages_main_container {
  /* display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%; */
}
.Languages_Type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.Languages_Rating {
  display: flex;
  gap: 1rem;
}
.rating,
.NON-rating {
  background-color: rgb(31 144 255);
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NON-rating {
  background-color: rgba(87, 84, 84, 0.449);
}
.Languages_Left_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Languages_Name {
  font-size: 2.3rem;
  font-weight: 700;
}
.Languages_Level {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 500;
}
